* {
    margin: 0px; 
    padding: 0px; 
    box-sizing: border-box;
}

body, html {
	height: 100%;
	font-family: Poppins-Regular, sans-serif;
}

a{
    color: inherit;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
   
    background-color:background;
}

.login-title{
    display:flex;
    font-family: Poppins-Bold;
    font-size: 20px;
    text-align: center;
    
    width: 100%;
    justify-content: center;
    margin-top: 3em;
}
.input-container, .create-account-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    margin-top: 4em;
}
.input-text{
  font-family: Poppins-Medium;
  font-size: 15px;
  line-height: 1.5;

  display: flex;
  width: 200px;
  align-content: center;
  justify-content: center;
  margin:5px 0px;
}
.create-account-link{
    text-decoration: none;
    margin-top: 10px;
}

.flight-container{
    display: flex;
    justify-content: center;
}

.flight-container a{
    text-align: center;
    max-width: 100%;
    margin: 0 20px;
}

.create-account-container {
    display: grid;
    grid-template-columns: 1fr 2fr; /* Two columns */
    gap: 10px; 
    max-width: 400px; 
    margin: 0 auto; 
    align-items: center;
}

.create-account-container label {
    text-align: right;
}

.create-account-container input {
    width: 100%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.create-button{
    display:flex;
    justify-content: center;
}